* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #00FFCB */

body {
  background: url(/images/background1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

/* ********** Welcome Start Section********** */
#container-welcome {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
  padding: 0%;
}

#confirm-button {
  background-color: #00ffcb;
  border: none;
  color: black;
  margin-bottom: 2rem;
  width: 100%;
}

#confirm-button:active {
  color: #00ffcb;
  background-color: black;
  border: 1px solid #00ffcb;
}

#confirm-button:focus {
  color: #00ffcb;
  background-color: black;
  border: 1px solid #00ffcb;
}

/* #confirm-button:hover {
  color: #00ffcb;
  background-color: black;
  border: 1px solid #00ffcb;
} */

.user-input {
  margin-bottom: 2rem;
}

.container-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  max-width: 30rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background: hsla(0, 0%, 0%, 0.754);
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}

#welcome-message {
  letter-spacing: 1.5px;
  font-size: 2rem;
  margin-bottom: 2rem;
  transition: transform 1s;
  color: #00ffcb;
}

.up-translate {
  transform: translateY(-10px);
}

.down-translate {
  transform: translateY(10px);
}

.tooltip-animation {
  animation: fadeIn 5s linear forwards;
}
.tooltip-container {
  position: relative;
  z-index: 1;
}

@keyframes fadeIn {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#username-tooltip {
  position: absolute;
  background-color: black;
  color: #00ffcb;
  top: 30px;
  box-shadow: 0px 0px 6px 0.1rem #00ffcb;
  padding: 0.25rem 0.9rem;
  font-size: 15px;
  border-radius: 1rem;
  display: none;
  right: 25%;
}

/* ********** Welcome Section End********** */

/* ********** Background change controls ********** */

.background-chevron {
  width: 3rem;
  color: white;
}
.background-controls {
  background-color: hsla(0, 0%, 0%, 0.754);
  border-radius: 50%;
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  box-shadow: 0px 0px 6px 0.1rem white;
}
.main-container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  display: block;
  position: relative;
  padding: 0 1rem;
  padding-bottom: 4rem;
}

/* ********** Top Section Header Start ********** */

.top-section {
  padding: 10px 10px;
  margin-bottom: 8rem;
  margin-top: 4rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  flex-direction: row;
  /* justify-content: space-between; */
}

#user-image {
  border-radius: 100%;
  max-width: 10rem;
  max-height: 10rem;
  border: 2px solid #00ffcb;
  position: absolute;
  right: 3rem;
  display: flex;
}

#main-title {
  color: #00ffcb;
  font-size: 35px;
}

.title-container {
  background: hsla(0, 0%, 0%, 0.754);
  padding: 1rem;
  padding-left: 3rem;
  border-radius: 1rem;
  text-align: left;
}

/* ********** Top Section Header End ********** */

/* ********** Add Task Section Start********** */

.add-task {
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 8rem;
  justify-content: space-around;
  align-items: center;
}

.add-icon {
  width: 5rem;
  border-radius: 6rem;
  background: hsla(0, 0%, 0%, 0.754);
  color: #00ffcb;
  animation: pulse 2s infinite;
  animation-direction: alternate;
}

#add-button {
  background: none;
  border: 1px white;
  padding: 0;
  width: fit-content;
  position: relative;
  /* animation: pulse 3s infinite ease-in-out; */
  animation-direction: alternate;
}

.button-animation {
  width: 5rem;
  height: 5em;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-direction: alternate;
}

/* #add-button:hover > .button-animation {
  animation: ring 1s infinite;
  animation-direction: alternate;
} */

#add-button:hover > .add-icon {
  animation: pulse-strong 1s infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0px 0px 10px 0rem #00ffcb;
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    box-shadow: 0px 0px 0px 0.2rem #00ffcb;
  }
}

@keyframes pulse-strong {
  0% {
    transform: scale(1);
    box-shadow: 0px 0px 0px 0rem #00ffcb;
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 1rem #00ffcb;
  }
}

@keyframes ring {
  0% {
    width: 5rem;
    height: 5rem;
    opacity: 1;
    box-shadow: 0px 0px 0px 0rem #00ffcb;
  }
  100% {
    width: 10rem;
    height: 10rem;
    opacity: 0;
    box-shadow: 0px 0px 0px 2rem #00ffcb;
  }
}

/* ********** Add Task Section End********** */

/* ********** Task List Start Section ********** */

#task-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

.task-container {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.completed-task {
  text-decoration: 2px line-through #00ffcb;
}

.action-button {
  padding: 0;
  border-radius: 4rem;
  border: none;
  width: fit-content;
  height: fit-content;
  margin-left: 1rem;
  background: none;
}

.action-icon {
  background: hsla(0, 0%, 0%, 0.754);
  max-width: 2.4rem;
  max-height: auto;
  border-radius: 4rem;
  padding: 0.3rem;
}

.action-icon:hover {
  animation: pulse 0.35s ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

.task-completed {
  margin-right: 1rem;
  width: 2.75rem;
  height: 2.75rem;
  accent-color: #00ffcb;
  cursor: pointer;
  padding: 0;
}

.task-completed:active {
  color: #fff;
}

.entry-animation {
  animation: high 1.2s ease-in-out;
  transition: all ease-in-out;
}

/* .entry-animation{
  animation: high infinite  ease-in-out;
  border: none;
  color: #00FFCB;
} */
@keyframes high {
  0% {
    background-color: #00ffcb;
    color: black;
    border: #00ffcb;
  }
  100% {
    background: hsla(0, 0%, 0%, 0.754);
    color: #00ffcb;
    border: white;
  }
}

.form-control {
  background: hsla(0, 0%, 0%, 0.754);
  color: #00ffcb;
}

.form-control:focus {
  border: none !important;
  box-shadow: 0px 0px 0px 0.25rem hsla(168, 100%, 50%, 0.756);
}

/* ********** Task List End Section ********** */

/* ********** Add Task Modal Section Start********** */

.modal {
  top: 25%;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-content {
  background: hsla(0, 0%, 0%, 0.462);
}

.modal-title {
  color: #00ffcb;
  background: hsla(0, 0%, 0%, 0.754);
  max-width: 15rem;
  padding: 0.3rem 1rem;
  border-radius: 2rem;
}

.modal-footer {
  justify-content: center;
  gap: 5rem;
}

#modal-close {
  background-color: #00ffcb;
  border: none;
  width: 6rem;
  color: black;
}
.cancel-button {
  background-color: #00ffcb;
  border: none;
  width: 6rem;
  color: black;
}

#modal-close:hover {
  background-color: black;
  color: #00ffcb;
  border: 1px solid #00ffcb;
}

.cancel-button:hover {
  background-color: black;
  color: #00ffcb;
  border: 1px solid #00ffcb;
}

.cancel-button:active {
  background-color: black !important;
  color: #00ffcb !important;
  border: 1px solid #00ffcb !important;
}

.form-label {
  color: #00ffcb;
  background: hsla(0, 0%, 0%, 0.754);
  padding: 0 0.6rem;
  border-radius: 2rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

/* ********** Add Task Modal Section End ********** */

/* ******* Statistics Summary Section Start ******** */

.summary-container {
  border-top: 1px solid rgba(255, 255, 255, 0.66);
  border-bottom: 1px solid rgba(255, 255, 255, 0.66);
  padding: 0px 0;
  display: flex;
  align-items: center;
  justify-content: space-ev;
  margin-bottom: 8rem;
  padding: 1rem 0;
}

.stat-container {
  /* background: hsla(0, 0%, 0%, 0.754); */
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  height: 3rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  border: none;
}

#mobile-button {
  display: none;
}

.sort-buttons {
  border: none;
  width: 7rem;
  padding: 0.5rem 0.5rem;
  /* background: hsla(0, 0%, 0%, 0.754); */
  background-color: black;
  border: none;
  border-radius: 1rem;
  color: white;
  letter-spacing: 0.5rem;
  box-shadow: 0px 0px 10px 0.1rem #fff;
}

.sort-buttons:hover {
  animation: pulse 1.5s ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: 2;
}
.stat-title {
  color: #00ffcb;
  padding: 0;
}

.task-stats {
  color: #00ffcb;
}

.stat-wrapper {
  display: flex;
  gap: 1rem;
}

/* ******* Statistics Summary Section End ******** */

li {
  position: relative;
}

.late-item {
  position: absolute;
  color: black;
  z-index: 1;
  right: 7rem;
  background-color: #00ffcc;
  border-radius: 5px;
  padding: 4px 0.5rem;
  display: none;
  border: 1px solid white;
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: none;
}

.form-control:disabled {
  background: hsla(0, 0%, 0%, 0.754);
  border: none;
  color: hsla(0, 0%, 0%, 0.754);
}

.change {
  width: 100%;
}

@media (max-width: 992px) {
  #main-container {
    padding: 0 0;
  }
  .title-container {
    padding: 1rem;
  }
  #main-title {
    font-size: 2rem;
  }

  #user-image {
    width: 9rem;
    height: 9rem;
    right: 4rem;
  }
}

@media (max-width: 767px) {
  .title-container {
    padding: 1rem;
  }
  #main-title {
    font-size: 1.4rem;
  }

  .change {
    width: 100%;
  }

  #user-image {
    width: 7em;
    height: 7rem;
    right: 6rem;
    /* position: relative; */
  }

  .summary-container {
    justify-content: space-between;
    font-size: 0.8rem;
    gap: 0rem;
  }

  .stat-wrapper {
    margin-right: 0.7rem;
    justify-content: space-around;
  }
}

@media (max-width: 680px) {
  .title-container {
    padding: 1rem 0.2rem;
    margin: 0;
    text-align: center;
  }
  #main-title {
    font-size: 1.4rem;
  }

  .change {
    display: flex;
  }

  .top-section {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: row-reverse;
    gap: 0.6rem;
  }

  #user-image {
    width: 7em;
    height: 7rem;
    position: static;
  }
}

@media (max-width: 576px) {
  .title-container {
    padding: 1rem 0.2rem;
    margin: 0;
    text-align: center;
  }
  #main-title {
    font-size: 1.4rem;
  }

  .top-section {
    margin-top: 1rem;
    margin-bottom: 5rem;
  }

  .add-task {
    margin-bottom: 5rem;
  }

  .change {
    display: flex;
  }

  .summary-container {
    margin-bottom: 1.5rem;
  }

  .top-section {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    gap: 0.6rem;
  }

  #user-image {
    width: 7em;
    height: 7rem;
    position: static;
  }

  #sort-button2 {
    margin-bottom: 1.5rem;
    width: 95%;
  }

  #sort-button1.desktop-button {
    display: none;
  }

  #mobile-button {
    display: block;
  }

  .stat-wrapper {
    margin-right: 0;
    gap: 0;
  }
  .stat-container {
    justify-content: space-evenly;
  }

  .task-col {
    padding: 0;
  }

  #task-list {
    margin: 0 0.5rem;
    /* width: 95%; */
    padding: 0;
    margin-bottom: 10rem;
  }

  .task-container {
    padding: 0;
    width: 95%;
  }

  li {
    gap: 0;
    /* align-items: flex-end; */
  }

  li .form-control {
    height: 100%;
    border-radius: 0;
    padding: 5px 5px;
  }

  .actiom-button {
    padding: 0;
    border-radius: 0;
  }

  .action-icon {
    border-radius: 0;
    border: 1px solid white;
  }

  .task-completed {
    margin-right: 0;
    height: 2rem;
  }

  .action-button {
    margin: 0;
  }
  .action-icon {
    border-radius: 0;
    width: 31px;
    height: 100%;
  }

  li .form-control:focus {
    border: 1px solid #00ffcb !important;
    box-shadow: 0px 0px 0px 0rem hsla(168, 100%, 50%, 0.756);
  }

  .row {
    margin: 0;
  }

  #welcome-message {
    font-size: 1.8rem;
  }

  #username-tooltip {
    right: 20%;
  }
}
