* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #5c9ead;
  /* background: url(/images/background.jpg) center center fixed;
  background-repeat: no-repeat;
  background-size: cover; */
}

/* ********** Welcome Start Section********** */
#container-welcome {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
  padding: 0%;
}

#confirm-button {
  background-color: #e39774;
  border: none;
  color: white;
  margin-bottom: 2rem;
  width: 100%;
}

#confirm-button:active {
  color: #00ffcb;
  background-color: black;
  border: 1px solid #00ffcb;
}

#confirm-button:focus {
  color: #00ffcb;
  background-color: black;
  border: 1px solid #00ffcb;
}

/* #confirm-button:hover {
  color: #00ffcb;
  background-color: black;
  border: 1px solid #00ffcb;
} */

.user-input {
  margin-bottom: 2rem;
}

.container-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  max-width: 30rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background: #5c9eadd9;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}

#welcome-message {
  letter-spacing: 1.5px;
  font-size: 2rem;
  margin-bottom: 2rem;
  transition: transform 1s;
  color: #25455b;
}

.up-translate {
  transform: translateY(-10px);
}

.down-translate {
  transform: translateY(10px);
}

.tooltip-animation {
  animation: fadeIn 5s linear forwards;
}
.tooltip-container {
  position: relative;
  z-index: 1;
}

@keyframes fadeIn {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#username-tooltip {
  position: absolute;
  background-color: black;
  color: #00ffcb;
  top: 30px;
  box-shadow: 0px 0px 6px 0.1rem #00ffcb;
  padding: 0.25rem 0.9rem;
  font-size: 15px;
  border-radius: 1rem;
  display: none;
  right: 25%;
}

/* ********** Welcome Section End********** */

.main-container {
  max-width: 960px;
  min-height: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  display: block;
  position: relative;
  padding: 4rem 1rem;
  background-color: #5c9ead;
}

/* ********** Top Section Header Start ********** */

.top-section {
  padding: 10px 10px;
  margin-bottom: 5rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: #25455b;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1rem;
}

.buffer {
  width: 140px;
  height: 200px;
  background-color: #5c9ead;
  position: absolute;
  display: flex;
  right: 1rem;
}

#user-image {
  border-radius: 100%;
  max-width: 11rem;
  max-height: 11rem;
  border: 2px solid white;
  position: absolute;
  display: flex;
  justify-self: flex-end;
  z-index: 1000;
}

#main-title {
  color: #00ffcb;
  color: white;
  font-size: 35px;
  margin: 0;
}

.title-container {
  padding: 1rem;
  padding-left: 3rem;
  border-radius: 1rem;
  text-align: left;
}

/* ********** Top Section Header End ********** */

/* ********** Add Task Section Start********** */


.text-wrapper1{
  width: 18rem;
  border-bottom: 1px solid #fff;
  /* border-top: 1px solid #fff; */
  background-color: #25455b;
  background: linear-gradient(135deg, transparent 25px, #25455b 0);
  margin-right: -5px;
}

.text-wrapper2{
  width: 18rem;
  /* border-bottom: 1px solid #fff; */
  border-top: 1px solid #fff;
  background-color: #25455b;
  background: linear-gradient(-45deg, transparent 25px, #25455b 0);
  margin-left: -5px;
}

.text-wrapper2 span{
  color: #ffffff;
  font-size: 1.5rem;
}

.text-wrapper1 span{
  color: #ffffff;
  font-size: 1.5rem;
}

.text-wrapper2 h2{
  color: #fff;
}

.add-task {
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
  justify-content: center;
  align-items: center;
}

.add-icon {
  width: 5rem;
  border-radius: 6rem;
  background-color: #25455b;
  color: white;
  animation: pulse 2s infinite;
  animation-direction: alternate;
}

#add-button {
  background: none;
  border: 1px white;
  padding: 0;
  width: fit-content;
  position: relative;
  animation-direction: alternate;
}

.button-animation {
  width: 5rem;
  height: 5em;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-direction: alternate;
}


#add-button:hover > .add-icon {
  animation: pulse-strong 1s infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0px 0px 10px 0rem #e39774;
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    box-shadow: 0px 0px 0px 0.2rem #e39774;
  }
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

@keyframes pulse-strong {
  0% {
    transform: scale(1);
    box-shadow: 0px 0px 0px 0rem #e39774;
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    box-shadow: 0px 0px 0px 1rem #e39774;
  }
}

@keyframes ring {
  0% {
    width: 5rem;
    height: 5rem;
    opacity: 1;
    box-shadow: 0px 0px 0px 0rem #e39774;
  }
  100% {
    width: 10rem;
    height: 10rem;
    opacity: 0;
    box-shadow: 0px 0px 0px 2rem #326273;
  }
}

/* ********** Add Task Section End********** */

/* ********** Task List Start Section ********** */

#task-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

.task-top-row{
  margin-bottom:3rem;
}

.task-container {
  background-color: #a3dce9a1;
  min-height: 20rem;
  border-radius: 1rem;
  padding: 2rem;
}

input[type="checkbox"] {
  height: 30px;
}

.form-control {
  height: 30px;
}

li {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.completed-task {
  text-decoration: 3px line-through #00ffcb;
}

.action-button {
  padding: 0;
  border-radius: 4rem;
  border: none;
  width: fit-content;
  height: fit-content;
  margin-left: 1rem;
  background: none;
}

.action-icon {
  background-color: #25455b;
  max-width: 2.4rem;
  max-height: auto;
  border-radius: 4rem;
  padding: 0.3rem;
}

.action-icon:hover {
  animation: pulse 0.35s ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

.task-completed {
  margin-right: 1rem;
  width: 2.75rem;
  height: 2.75rem;
  accent-color: #25455b;
  cursor: pointer;
  padding: 0;
}

.task-completed:active {
  color: #fff;
}

.entry-animation {
  animation: high 0.8s ease-in-out;
  transition: all ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

.entry-animation2{
  animation: low 0.8s ease-in-out;
  transition: all ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes high {
  0% {
  }
  100% {
    box-shadow: 0px 0px 0px 0.25rem #e39774;
  }
}

@keyframes low {
  0% {
  }
  100% {
   background-color: #e39774;
  }

}

.form-control {
  background: #25455b;
  color: white;
  border: none;
}

.form-control:focus {
  border: none !important;
  box-shadow: 0px 0px 0px 0.25rem #e39774;
  background-color: #25455b;
  color: white;
}

/* ********** Task List End Section ********** */

/* ********** Add Task Modal Section Start********** */

.modal {
  top: 25%;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.677);
  background-color: #5c9ead;
}

.modal-title {
  color: white;
  background-color: #25455b;
  max-width: 15rem;
  padding: 0.3rem 1rem;
  border-radius: 2rem;
}

.modal-footer {
  justify-content: center;
  gap: 5rem;
}

#modal-close,.cancel-button {
  background-color: #e39774;
  border: none;
  width: 6rem;
  color: white;
}

#modal-close:hover, .cancel-button:hover {
  background-color: #25455b !important;
  color: #e39774 !important;
  border: 1px solid #e39774 !important;
}

.form-label {
  color: white;
  background-color: #25455b;
  padding: 0 0.6rem;
  border-radius: 2rem;
  margin: 0;
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

/* ********** Add Task Modal Section End ********** */

/* ******* Statistics Summary Section Start ******** */

.summary-container {
  border-top: 1px solid rgba(255, 255, 255, 0.66);
  border-bottom: 1px solid rgba(255, 255, 255, 0.66);
  padding: 0px 0;
  display: flex;
  align-items: center;
  justify-content: space-ev;
  margin-bottom: 1rem;
  padding: 1rem 0;
}

.stat-container {
  background-color: #25455b;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  height: 3rem;
  padding: 0 1rem;
  border: none;
  color: white;
}

#mobile-button {
  display: none;
}

.sort-buttons {
  border: none;
  width: 7rem;
  padding: 0.5rem 0.5rem;
  background-color: #e39774;
  border: none;
  border-radius: 1rem;
  color: white;
  letter-spacing: 0.5rem;
}

.sort-buttons:active{
  background-color: #25455b;
  color: #e39774;
  border: 1px solid #e39774;
}

.sort-buttons:hover {
  animation: pulse 0.35s ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

.stat-wrapper {
  display: flex;
  gap: 1rem;
}

/* ******* Statistics Summary Section End ******** */

li {
  position: relative;
}

.late-item {
  position: absolute;
  color: #326273;
  z-index: 1;
  right: 7rem;
  background-color: rgba(255, 255, 255, 0.641);
  border-radius: 5px;
  padding: 4px 0.5rem;
  display: none;
  border: 1px solid white;
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: none;
}

.form-control:disabled {
  background: hsla(0, 0%, 0%, 0.754);
  border: none;
  color: hsla(0, 0%, 0%, 0.754);
}

.change {
  width: 100%;
}

@media (max-width: 992px) {
  #main-container {
    padding-top: 4rem;
  }
  .title-container {
    padding: 1rem;
  }
  #main-title {
    font-size: 2rem;
  }

  #user-image {
    width: 9rem;
    height: 9rem;
  }

  #add-button:hover > .add-icon {
    animation: none;
  }

  .add-icon{
    animation: none;
    border: 3px solid #e39774;
  }

  .action-icon:hover {
    animation: pulse none;
  }

  .action-icon:active{
    background-color: #e39774;
  }

  .sort-buttons:hover{
    animation: none;
  }

  .text-wrapper1,.text-wrapper2{
    width: 15rem;
  }


}

@media (max-width: 890px) {
  #user-image {
    width: 9rem;
    height: 9rem;
  }

  .text-wrapper1 span, .text-wrapper2 span{
    font-size: 1.4rem;
  }

  .text-wrapper1,.text-wrapper2{
    width: 15rem;
  }
}

@media (max-width: 767px) {
  .title-container {
    padding: 1rem;
  }

  .top-section{
    margin-bottom: 3rem;
  }

  .add-task{
    margin-bottom: 3rem;
  }

  #main-title {
    font-size: 1.4rem;
  }

  .task-container{
    padding: 2rem 1rem;
  }

  .change {
    width: 100%;
  }

  #user-image {
    width: 7em;
    height: 7rem;
  }

  .summary-container {
    justify-content: space-between;
    font-size: 0.8rem;
    gap: 0rem;
  }

  .stat-wrapper {
    margin-right: 0.7rem;
    justify-content: space-around;
  }

  .text-wrapper1,.text-wrapper2{
    width: 11rem;
  }

  .text-wrapper1 span, .text-wrapper2 span{
    font-size: 1.2rem;
  }

  #main-container{
    padding: 4rem 1rem;
  }
  
}

@media (max-width: 680px) {
  .title-container {
    margin: 0;
  }
  #main-title {
    font-size: 1.4rem;
  }

  .buffer {
    width: 100px;
  }

}

@media (max-width: 576px) {
  .title-container {
    margin: 0;
  }
  #main-title {
    font-size: 1.4rem;
  }

  #main-conatiner{
    padding: 1rem 1rem;
  }

  .buffer {
    width: 70px;
    height: 90px;
    right: 0rem;
  }

  .top-section {
    margin-bottom: 3rem;
  }

  .main-container{
   padding:0;
   padding-top: 0;
  }

  .add-task {
    margin-bottom: 3rem;
  }

  .change {
    display: flex;
  }

  .summary-container {
    margin-bottom: 1.5rem;
  }

  #user-image {
    width: 6rem;
    height: 6rem;
  }

  #sort-button2 {
    margin-bottom: 1.5rem;
    width: 95%;
  }

  #sort-button1.desktop-button {
    display: none;
  }

  #mobile-button {
    display: block;
  }

  .stat-wrapper {
    margin-right: 0;
    gap: 0;
  }
  .stat-container {
    justify-content: space-evenly;
  }

  .task-col {
    padding: 0;
  }

  .task-container {
    padding: 1rem;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  li {
    gap: 0;
  }

  li .form-control {
    height: 100%;
    border-radius: 0;
    padding: 5px 5px;
  }

  .actiom-button {
    padding: 0;
    border-radius: 0;
  }

  .action-icon {
    border-radius: 0;
    border-left: 2px solid #e39774;
  }

  .task-completed {
    margin-right: 0;
    height: 2rem;
  }

  .action-button {
    margin: 0;
  }
  .action-icon {
    border-radius: 0;
    width: 31px;
    height: 100%;
  }

  li .form-control:focus {
    box-shadow: 4px 0px 0px 0px #e39774;
  }

  .row {
    margin: 0;
  }

  #welcome-message {
    font-size: 1.8rem;
  }

  #username-tooltip {
    right: 20%;
  }
}


@media (max-width: 536px) {

  .top-section {
    padding: 1px;
  }

  #main-title {
    white-space: pre-line;
  }


}

@media (max-width: 485px) {

  .top-section {
    padding: 1px;
  }

  #main-title {
    font-size: 1.3rem;
  }
  #main-container{
    padding: 2rem 1rem;
  }

  .text-wrapper1,.text-wrapper2{
    width: 9rem;
  }

  .text-wrapper1 span, .text-wrapper2 span{
    font-size: 1rem;
  }
}


@media (max-width: 447px) {
  .top-section {
    padding: 1px;
  }

  #main-title {
    white-space: pre-line;
  }

  #main-title {
    font-size: 1.3rem;
  }

  .text-wrapper1,.text-wrapper2{
    width: 7rem;
  }

  .top-section{
    margin-bottom: 2rem;
  }

  .add-task{
    margin-bottom: 2rem;
  }

  .text-wrapper1 span, .text-wrapper2 span{
    font-size: 1rem;
  }

  .task-container{
    min-height: 18rem;
  }


}

@media (max-width: 390px) {
  .stat-container{
    padding: 0.8rem;
  }
}
