* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #00FFCB */

body {
  background: url(/background8.jpg) no-repeat center center fixed;
  /* background: hsla(0, 0%, 0%, 0.701); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

/* ********** Welcome Start Section********** */
.container-welcome {
  height: 100%;
  width: 100%;
  position: relative;
  display: none;
  padding: 0%;
}

#confirm-button {
  background-color: #fa7d61;
  border: white;
}

.container-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  max-width: 30rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: #fa7d618d;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}

.btn {
  margin-top: 1.5rem;
}

/* h1 {
  margin-bottom: 6rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-shadow: 1px 1px 2px black, 0px 0px 10px black, 0px 0px 10px black,
    0px -10px 10px black;
} */

/* ********** Welcome Section End********** */

.main-container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  display: block;
  position: relative;
  margin-bottom: 2rem;
  padding: 0 1rem;
  padding-bottom: 4rem;
}

/* ********** Top Section Header Start ********** */

.top-section {
  padding: 10px 10px;
  margin-bottom: 8rem;
  margin-top: 4rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#user-image {
  border-radius: 100%;
  max-width: 10rem;
  max-height: 10rem;
  border: 2px solid #00ffcb;
  position: absolute;
  right: 5rem;
}

h1 {
  color: #00ffcb;
  font-size: 35px;
}

.title-container {
  background: hsla(0, 0%, 0%, 0.754);
  padding: 1rem;
  padding-left: 3rem;
  border-radius: 1rem;
  text-align: left;
}

/* ********** Top Section Header End ********** */

/* ********** Add Task Section Start********** */

.add-task {
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 8rem;
  justify-content: center;
}

.add-icon {
  width: 5rem;
  border-radius: 6rem;
  background: hsla(0, 0%, 0%, 0.754);
  color: #00ffcb;
  animation: pulse 2s infinite;
  animation-direction: alternate;
}

/* ******change div name */
#add-button {
  background: none;
  border: 1px white;
  padding: 0;
  margin-bottom: 1rem;
  width: fit-content;
  position: relative;
  /* animation: pulse 3s infinite ease-in-out; */
  animation-direction: alternate;
}

.button-animation {
  width: 5rem;
  height: 5em;
  /* background-color: #00ffcb; */
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-direction: alternate;
}

/* #add-button:hover > .button-animation {
  animation: ring 1s infinite;
  animation-direction: alternate;
} */

#add-button:hover > .add-icon {
  animation: pulse 1s infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0px 0px 10px 0rem #00ffcb;
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    box-shadow: 0px 0px 5px 0.2rem #00ffcb;
  }
}

@keyframes ring {
  0% {
    width: 5rem;
    height: 5rem;
    opacity: 1;
    box-shadow: 0px 0px 0px 0rem #00ffcb;
  }
  100% {
    width: 10rem;
    height: 10rem;
    opacity: 0;
    box-shadow: 0px 0px 0px 2rem #00ffcb;
  }
}

/* ********** Add Task Section End********** */

/* ********** Task List Start Section ********** */

#task-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

.task-container {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.completed-task {
  text-decoration: 2px line-through #00ffcb;
}

.action-button {
  padding: 0;
  border-radius: 4rem;
  border: none;
  width: fit-content;
  height: fit-content;
  margin-left: 1rem;
  background: none;
}

.action-icon {
  background: hsla(0, 0%, 0%, 0.754);
  max-width: 2.4rem;
  max-height: auto;
  border-radius: 4rem;
  padding: 0.3rem;
}

.action-icon:hover {
  animation: pulse 0.35s ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

.task-completed {
  margin-right: 1rem;
  width: 2.75rem;
  height: 2.75rem;
  accent-color: #00ffcb;
  cursor: pointer;
  padding: 0;
}

.task-completed:active {
  color: #fff;
}

.entry-animation {
  animation: high 1.2s ease-in-out;
  transition: all ease-in-out;
}

/* .entry-animation{
  animation: high infinite  ease-in-out;
  border: none;
  color: #00FFCB;
} */
@keyframes high {
  0% {
    background-color: #00ffcb;
    color: black;
    border: #00ffcb;
  }
  100% {
    background: hsla(0, 0%, 0%, 0.754);
    color: #00ffcb;
    border: white;
  }
}

.form-control {
  background: hsla(0, 0%, 0%, 0.754);
  color: #00ffcb;
}

.form-control:focus {
  /* box-shadow: 0px 0px 0px 0.25rem rgba(250, 125, 97, 0.75); */
  border: none !important;
  box-shadow: 0px 0px 0px 0.25rem hsla(168, 100%, 50%, 0.756);
}

/* ********** Task List End Section ********** */

/* ********** Add Task Modal Section Start********** */

.modal {
  top: 25%;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-content {
  background: hsla(0, 0%, 0%, 0.462);
}

.modal-title {
  color: #00ffcb;
  background: hsla(0, 0%, 0%, 0.754);
  max-width: 15rem;
  padding: 0.3rem 1rem;
  border-radius: 2rem;
}

.modal-footer {
  justify-content: center;
  gap: 5rem;
}

#modal-close {
  background-color: #00ffcb;
  border: none;
  width: 6rem;
  color: black;
}
.cancel-button {
  background-color: #00ffcb;
  border: none;
  width: 6rem;
  color: black;
}

#modal-close:hover {
  background-color: black;
  color: #00ffcb;
  border: 1px solid #00ffcb;
}

.cancel-button:hover {
  background-color: black;
  color: #00ffcb;
  border: 1px solid #00ffcb;
}

.cancel-button:active {
  background-color: black !important;
  color: #00ffcb !important;
  border: 1px solid #00ffcb !important;
}

.form-label {
  color: #00ffcb;
  background: hsla(0, 0%, 0%, 0.754);
  padding: 0 0.6rem;
  border-radius: 2rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

/* ********** Add Task Modal Section End ********** */

/* ******* Statistics Summary Section Start ******** */

.summary-container {
  border-top: 1px solid rgba(255, 255, 255, 0.66);
  border-bottom: 1px solid rgba(255, 255, 255, 0.66);
  padding: 0px 0;
  display: flex;
  align-items: center;
  justify-content: space-ev;
  margin-bottom: 8rem;
  padding: 1rem 0;
}

.stat-container {
  background: hsla(0, 0%, 0%, 0.754);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  height: 3rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  border: none;
}

.button-container {
  /* background-color: #00ffcb; */
}

#sort-button {
  border: none;
  width: 7rem;
  padding: 0 0.5rem;
  background: hsla(0, 0%, 0%, 0.754);
  border: none;
  border-radius: 1rem;
  color: white;
  /* box-shadow: 0px 0px 1px 0.3rem #00ffccfe; */
}

#sort-button:hover {
  animation: pulse 1s infinite;
  animation-direction: alternate;
}
.stat-title {
  color: #00ffcb;
  padding: 0;
}

.task-stats {
  color: #00ffcb;
}

.stat-wrapper {
  display: flex;
  /* justify-content: ; */
  gap: 1rem;
}

h2 {
  color: #fa7d61;
}

/* ******* Statistics Summary Section End ******** */

/* h1 {
  font-size: 1.6rem;
}

.form-control {
  border-radius: 0;
} */

li {
  position: relative;
}

.late-item {
  position: absolute;
  color: black;
  z-index: 1;
  right: 7rem;
  background-color: #00ffcc;
  border-radius: 5px;
  padding: 4px 0.5rem;
  display: block;
  border: 1px solid white;
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: none;
}

.form-control:disabled {
  background: hsla(0, 0%, 0%, 0.754);
  border: none;
  color: hsla(0, 0%, 0%, 0.754);
}
